<% const pageTitle="404 not found" ; pageId="404" ; pageUrl="404.html" ; pageDescription="お探しのページは見つかりません" ; %>
<% include ../_common/_header %>
    <section class="scroll-section">
        <h1>404 not found</h1>
        <p>お探しのページは見つかりませんでした。</p>
        <a href="/" class="btn mt-3">トップページへ戻る</a>
    </section>
<% include ../_common/_footer %>