@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  h1 {
    @apply mb-2 text-[10vw] md:text-[5vw];
  }

  h2 {
    @apply text-2xl md:text-3xl;
  }

  h3 {
    @apply text-lg md:text-xl mb-2;
  }

  h4 {
    @apply text-base md:text-lg font-bold;
  }

  /* Vars */
  :root {
    /* colors */
    --colors-dark: #212121;
    --colors-light: #eceff1;
    --colors-lights: rgb(236 239 241 / 50%);

    /* neon */
    --neon-light: #d1f2ff;
    --neon-dark: #05baff;

    /* Media queries breakpoints */
    --side-menu-width-md: 20vw;
  }
}

/* foundation */
body {
  @apply bg-black font-body;

  color: var(--colors-light);
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s !important;
}

.canvas-background {
  @apply w-full h-full top-0 left-0 fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-mono;
}

h2,
h3,
h4 {
  & small {
    @apply ml-[0.5em] text-[50%] md:text-[60%];
  }
}

.h3 {
  @apply border-l-2 pl-2 tracking-wider mb-4 font-bold;
}

main {
  @apply top-0 right-0 bottom-0 left-0 absolute;
}

/* iOS Safariでフォームに角丸が付く問題の対処 */
input[type='button'],
input[type='text'],
input[type='email'],
input[type='submit'],
input[type='image'],
textarea {
  @apply rounded-none appearance-none;
}

/* Object */
#forie {
  z-index: 9999;
  @apply fixed top-0 bottom-0 left-0 right-0 p-10 text-center flex-col justify-center;

  /* IEがCSSカスタムプロパティを読んでくれないので直接指定 */
  background-color: #000;

  & .btn {
    @apply w-auto px-4 no-underline;
  }

  & a {
    @apply underline;
  }
}

#forie,
#lowerwin10,
#forwin10 {
  @apply hidden;
}

.side {
  @apply fixed flex flex-col content-around text-center z-10 md:z-auto w-full md:top-auto;

  top: -100vh;
  top: -100dvh;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0 1rem 5rem;
  backdrop-filter: blur(3px);
  background-color: rgb(255 255 255 / 5%);
  transition: all 0.5s;

  @screen md {
    width: var(--side-menu-width-md);
  }

  &-menu {
    @apply flex flex-grow items-center justify-center;

    &-active {
      @apply font-bold text-2xl;
    }

    li {
      @apply mt-4;
    }
  }

  &-sns {
    ul {
      @apply flex md:list-item justify-center;
    }

    li {
      @apply text-2xl;

      &:not(:first-child) {
        @apply ml-8 md:ml-0 md:mt-2;
      }

      & .icon-discord {
        @apply text-xl;
      }
    }
  }

  a {
    @apply no-underline;

    color: rgb(236 239 241 / 70%);
    transition: color ease 0.3s, font-size ease 0.1s;

    &:hover {
      color: var(--colors-light);
    }
  }
}

.scroll {
  @apply md:ml-[var(--side-menu-width-md)];

  h2 {
    @apply relative bg-contain bg-no-repeat py-3 md:py-4 pl-4 md:pl-6 leading-normal -ml-4 md:ml-0 bg-[url('/images/star.svg')];
  }

  a {
    &:not(.btn) {
      @apply text-[#9ee4ff] transition-colors duration-[0.3s] ease-linear;

      &:hover,
      &:focus,
      &:active {
        @apply no-underline text-[#9ee4ff]/[0.5];
      }
    }

    &[target='_blank']::after {
      @apply font-black align-middle text-[0.9em] content-['\f102'] my-0 mx-[0.1875rem];

      font-family: icons, sans-serif;

      &:not(.btn):hover,
      &:not(.btn):focus,
      &:not(.btn):active {
        @apply text-[#9ee4ff]/[0.5];
      }
    }
  }

  /* purgecss start ignore */
  &-section {
    @apply flex flex-col items-center justify-center;

    &.hero {
      @apply min-h-screen;
    }

    &:not(:first-child) {
      @apply opacity-0 pt-4 mb-12 md:mb-16 transition-all duration-[800ms] translate-y-[50px];

      &.show {
        @apply opacity-100 translate-y-0;
      }
    }

    &-box {
      @apply w-full max-w-[80%];

      &-txt {
        @apply my-6 mx-0 md:mx-6;

        & section {
          @apply mt-8;
        }
      }
    }
  }
}

.privacy {
  & .scroll-section:not(:first-child) {
    @apply mb-4 md:mb-6;
  }

  & .scroll-section-box-txt p + p {
    @apply mt-4;
  }
}

/* purgecss end ignore */
.form {
  &-group {
    @apply relative z-[1];

    input {
      &[type='text'] {
        @apply pl-[4em];
      }

      &[type='email'] {
        @apply pl-[8.5em];
      }

      &[type='text'],
      &[type='email'] {
        @apply leading-6 text-[0.9375rem] tracking-[1px];
      }
    }

    textarea {
      @apply pt-6;
    }

    input[type='text'],
    input[type='email'],
    textarea {
      @apply w-full duration-[0.4s];

      &:focus {
        @apply p-0;

        outline: none;
      }
    }

    &,
    ~ .btn {
      &:not(:first-child) {
        @apply mt-10;
      }
    }
  }

  &-control {
    @apply py-1 px-0 bg-transparent;

    color: var(--colors-light);
    border-bottom: 1px solid var(--colors-lights);

    ~ .focus-line {
      @apply absolute bottom-0 left-0 w-0 h-0.5 duration-[0.4s];

      background-color: var(--colors-light);

      &.textarea {
        @apply bottom-[0.3125rem];
      }
    }

    ~ label {
      @apply w-full left-0 absolute top-1 tracking-[0.5px] -z-[1] duration-[0.3s];
    }
  }

  &-control:focus ~ .focus-line,
  &-group.form-control ~ .focus-line {
    @apply w-full duration-[0.4s];
  }

  &-control:focus ~ label,
  &-group.form-control ~ label {
    @apply text-xs -top-4 duration-[0.3s];
  }
}

/* purgecss start ignore */
.fadein {
  @apply !top-0;
}

#target {
  @apply top-4 right-4 fixed block cursor-pointer md:hidden w-10 h-[1.875rem] z-[100] duration-[1.5s];
}

.target-inner {
  @apply relative w-10 h-[1.875rem];

  &_line {
    @apply block absolute w-10 h-[0.3125rem] rounded-[3.125rem] duration-[1.5s];

    background: var(--colors-lights);
  }

  &_1 {
    @apply top-0;
  }

  &_2 {
    @apply top-[0.8125rem];
  }

  &_3 {
    @apply top-[1.625rem];
  }
}

.linea {
  @apply top-[13px] rotate-[225deg];
}

.lineb {
  @apply opacity-0;
}

.linec {
  @apply top-[13px] -rotate-[225deg];
}

.rss {
  &-list {
    @apply m-0 py-2.5 px-0;

    &:not(:last-child) {
      @apply border-b border-dashed border-[#ccc];
    }
  }

  &-date {
    @apply text-[80%];
  }
}

/* purgecss end ignore */

/* Utility */
.btn {
  @apply relative inline-block font-bold text-center no-underline shadow-none uppercase cursor-pointer bg-transparent w-[12.5rem] leading-[2.8125rem] border border-solid border-transparent outline-offset-0 outline outline-1;

  color: var(--colors-light);
  outline-color: var(--colors-lights);
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    @apply no-underline;
  }

  &:hover {
    @apply text-[color:inherit] outline-transparent outline-offset-[12px];

    text-shadow: 2px 2px 3px #000;
    border-color: var(--colors-light);
    box-shadow: inset 0 0 20px var(--colors-lights),
      0 0 20px rgb(255 255 255 / 20%);
  }
}

.loader {
  @apply bg-black justify-center items-center flex top-0 right-0 bottom-0 left-0 fixed z-[999];

  &::after {
    @apply w-[4.375rem] h-[4.375rem] content-[''] animate-loader rounded-[50%];

    border: 1px solid var(--colors-light);
    border-top: 1px solid rgb(236 239 241 / 20%);
    border-right: 1px solid rgb(236 239 241 / 20%);
  }
}

.list-default {
  @apply mb-4 mt-2;

  padding-inline-start: 2em;

  & .list-default {
    @apply mb-1 mt-0;
  }

  ul& li {
    @apply relative;

    &::before {
      @apply text-xs absolute top-[0.27rem] -left-[1.75em] content-['\f108'];

      font-family: icons, sans-serif;
    }
  }

  ol& {
    @apply list-decimal;

    & li {
      &:not(:first-child) {
        @apply mt-2;
      }

      & .list-default {
        @apply mt-2;
      }
    }
  }
}

.neon {
  @apply animate-pulsate;

  text-shadow: 0 0 7px var(--neon-light), 0 0 10px var(--neon-light),
    0 0 21px var(--neon-light), 0 0 42px var(--neon-dark),
    0 0 82px var(--neon-dark), 0 0 92px var(--neon-dark),
    0 0 102px var(--neon-dark), 0 0 151px var(--neon-dark);
}

.form-group.checkbox {
  @apply mt-6 md:text-center mb-12;

  transform: translateZ(0);

  & label {
    @apply cursor-pointer pl-0;
  }

  & input[type='checkbox'] {
    @apply opacity-0 absolute m-0 -z-[1] w-0 h-0 overflow-hidden left-0 pointer-events-none;

    &:focus + .checkbox-material .check::after {
      @apply opacity-20;
    }

    &:checked + .checkbox-material .check::before {
      @apply animate-checkbox-on;

      box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px,
        -5px 5px 0 10px, 20px -12px 0 11px;
    }

    &:not(:checked) + .checkbox-material::before {
      @apply animate-ripple-off;
    }

    &:checked + .checkbox-material::before {
      @apply animate-ripple-on;
    }

    &:not(:checked) + .checkbox-material .check::after {
      @apply animate-ripple-off;
    }

    &:checked + .checkbox-material .check::after {
      @apply animate-ripple-on;
    }
  }

  & .checkbox-material {
    @apply align-middle relative top-[0.1875rem];

    &::before {
      @apply absolute left-2 top-0.5 content-[''] h-1 w-1 rounded-[100%] z-[1] opacity-0 m-0 bg-white/[0.5];
    }

    & .check {
      @apply relative inline-block w-5 h-5 border border-solid overflow-hidden z-[1] mr-2;

      &::before {
        @apply absolute content-[''] transform rotate-45 block -mt-1 ml-1.5 w-0 h-0 animate-checkbox-off;

        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0,
          0 0 0 0 inset;
      }
    }
  }

  &
    input[type='checkbox'][disabled]:not(:checked)
    ~ .checkbox-material
    .check::before,
  & input[type='checkbox'][disabled] + .circle {
    @apply opacity-50;
  }

  & input[type='checkbox'][disabled] + .checkbox-material .check::after {
    @apply bg-white/[0.84] transform -rotate-45;
  }
}
