@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  h1,
  h2,
  h3 {
    @apply mb-2;
  }
  h1 {
    font-size: 10vw;
    @screen md {
      font-size: 5vw;
    }
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}

/* Vars */
:root {
/* colors */
  --colors-dark: #212121;
  --colors-light: #eceff1;
  --colors-lightS: rgba(236, 239, 241, 0.5);


/* Media queries breakpoints */
  --side-menu-width-md: 20vw;
}

/* foundation */
body {
  font-family: 'M PLUS 1p', sans-serif;
  color: $colors-light;
  @apply bg-black;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s !important;
}

.canvas-background {
  @apply w-full h-full top-0 left-0 fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
.st-mono {
  font-family: 'Share Tech Mono', 'M PLUS 1p', monospace;
}

h2,
h3,
h4 {
  & small {
    margin-left: 0.5em;
    font-size: 50%;
    @screen md {
      font-size: 60%;
    }
  }
}

main {
  @apply top-0 right-0 bottom-0 left-0 absolute;
}

/* iOS Safariでフォームに角丸が付く問題の対処 */
input[type='button'],
input[type='text'],
input[type='email'],
input[type='submit'],
input[type='image'],
textarea {
  @apply rounded-none appearance-none;
}

/* Object */
.side {
  top: -100vh;
  padding: 0 1rem 5rem;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.5s;
  @apply fixed flex flex-col content-around h-screen text-center z-10 md:z-auto w-full md:top-auto;
  @screen md {
    width: var(--side-menu-width-md);
  }
  &-menu {
    @apply flex flex-grow items-center justify-center;
    &-active {
      @apply font-bold text-2xl;
    }
    li {
      @apply mt-4;
    }
  }
  &-sns {
    ul {
      @apply flex md:list-item justify-center;
    }
    li {
      font-size: 1.5rem;
      &:not(:first-child) {
        @apply ml-8 md:ml-0 md:mt-2;
      }
    }
  }
  a {
    color: rgba(236, 239, 241, 0.7);
    transition: color ease 0.3s, font-size ease 0.1s;
    @apply no-underline;
    &:hover {
      color: var(--colors-light);
    }
  }
}

.scroll {
  @screen md {
    margin-left: var(--side-menu-width-md);
  }

  a {
    &:not(.btn) {
      color: rgba(158, 228, 255, 1);
      transition: color ease 0.3s;
      &:hover,
      &:focus,
      &:active {
        color: rgba(158, 228, 255, 0.5);
        @apply no-underline;
      }
    }
    &[target='_blank']::after {
      margin: 0 3px;
      font-family: icons, sans-serif;
      font-size: 0.9em;
      vertical-align: -0.05em;
      content: '\f101';
      @apply font-black;
      &:not(.btn):hover,
      &:not(.btn):focus,
      &:not(.btn):active {
        color: rgba(158, 228, 255, 0.5);
      }
    }
  }

  h2 {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    margin-bottom: 0;
    border-bottom: solid 1px var(--colors-light);
    border-left: 0.5em solid var(--colors-light);
  }

  /* purgecss start ignore */
  &-section {
    @apply flex flex-col items-center justify-center;
    &.hero {
      @apply h-screen;
    }
    &:not(:first-child) {
      transition: all 800ms;
      transform: translateY(50px);
      @apply opacity-0 pt-4 mb-12 md:mb-16;
      &.show {
        transform: translateY(0);
        @apply opacity-100;
      }
    }
    &-box {
      max-width: 80%;
      @apply w-full;
      &-txt {
        @apply my-8 mx-0 md:mx-6;
        & section:not(:last-child) {
          @apply mb-8;
        }
      }
    }
  }
}
/* purgecss end ignore */
.form {
  &-group {
    z-index: 1;
    @apply relative;
    input {
      &[type='text'] {
        padding-left: 4em;
      }
      &[type='email'] {
        padding-left: 8.5em;
      }
      &[type='text'],
      &[type='email'] {
        font-size: 15px;
        letter-spacing: 1px;
        @apply leading-6;
      }
    }
    textarea {
      @apply pt-6;
    }
    input[type='text'],
    input[type='email'],
    textarea {
      transition: 0.4s;
      @apply w-full;
      &:focus {
        outline: none;
        @apply p-0;
      }
    }
    &,
    ~ .btn {
      &:not(:first-child) {
        @apply mt-10;
      }
    }
  }

  &-control {
    color: var(--colors-light);
    background-color: transparent;
    border-bottom: 1px solid var(--colors-lightS);
    @apply py-1 px-0;
    ~ .focus-line {
      background-color: var(--colors-light);
      transition: 0.4s;
      @apply absolute bottom-0 left-0 w-0 h-0.5;
      &.textarea {
        bottom: 5px;
      }
    }
    ~ label {
      top: 4px;
      z-index: -1;
      letter-spacing: 0.5px;
      transition: 0.3s;
      @apply w-full left-0 absolute;
    }
  }

  &-control:focus ~ .focus-line,
  &-group.form-control ~ .focus-line {
    transition: 0.4s;
    @apply w-full;
  }

  &-control:focus ~ label,
  &-group.form-control ~ label {
    top: -16px;
    transition: 0.3s;
    @apply text-xs;
  }
}

/* purgecss start ignore */
.fadein {
  top: 0 !important;
}

#target {
  z-index: 100;
  width: 40px;
  height: 30px;
  transition: 1.5s;
  @apply top-4 right-4 fixed block cursor-pointer md:hidden;
}

.target_inner {
  position: relative;
  width: 40px;
  height: 30px;
  &_line {
    width: 40px;
    height: 5px;
    background: var(--colors-lightS);
    border-radius: 50px;
    transition: 1.5s;
    @apply block absolute;
  }
  &_1 {
    @apply top-0;
  }

  &_2 {
    top: 13px;
  }

  &_3 {
    top: 26px;
  }
}

.linea {
  top: 13px;
  transform: rotate(225deg);
}

.lineb {
  @apply opacity-0;
}

.linec {
  top: 13px;
  transform: rotate(-225deg);
}

.rss {
  &-list {
    @apply m-0 py-2.5 px-0;
    &:not(:last-child) {
      border-bottom: 1px dashed #ccc;
    }
  }
  &-date {
    font-size: 80%;
  }
}

/* purgecss end ignore */

/* Utility */
.btn {
  width: 200px;
  line-height: 45px;
  color: var(--colors-light);
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: var(--colors-lightS);
  outline-offset: 0;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  @apply relative inline-block font-bold text-center no-underline shadow-none uppercase cursor-pointer bg-transparent;
  &:hover,
  &:focus,
  &:active {
    @apply no-underline;
  }
  &:hover {
    color: inherit;
    text-shadow: 2px 2px 3px #000;
    border-color: var(--colors-light);
    outline-color: transparent;
    outline-offset: 12px;
    box-shadow: inset 0 0 20px var(--colors-lightS),
      0 0 20px rgba(255, 255, 255, 0.2);
  }
}

.loader {
  z-index: 999;
  @apply bg-black justify-center items-center flex top-0 right-0 bottom-0 left-0 fixed;
  &::after {
    width: 70px;
    height: 70px;
    content: '';
    border: 1px solid var(--colors-light);
    border-top: 1px solid rgba(236, 239, 241, 0.2);
    border-right: 1px solid rgba(236, 239, 241, 0.2);
    border-radius: 50%;
    animation: loader 0.5s linear infinite;
  }
}

@keyframes loader {
  0% {
    @apply transform rotate-0;
  }

  100% {
    transform: rotate(360deg);
  }
}

.list-default {
  padding-inline-start: 40px;
  @apply list-disc mb-4;
}
