@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    height: -webkit-fill-available;
  }

  h1 {
    @apply mb-2 text-[10vw] md:text-[5vw];
  }

  h2 {
    @apply text-2xl md:text-3xl;
  }

  h3 {
    @apply text-lg md:text-xl mb-2;
  }

  h4 {
    @apply text-base md:text-lg font-bold;
  }
}

/* Vars */
:root {
  /* colors */
  --colors-dark: #212121;
  --colors-light: #eceff1;
  --colors-lightS: rgb(236 239 241 / 50%);

  /* neon */
  --neon-light: #d1f2ff;
  --neon-dark: #05baff;

  /* Media queries breakpoints */
  --side-menu-width-md: 20vw;
}

/* foundation */
body {
  @apply bg-black font-body;

  color: var(--colors-light);
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s !important;
}

.canvas-background {
  @apply w-full h-full top-0 left-0 fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-mono;
}

h2,
h3,
h4 {
  & small {
    @apply ml-[0.5em] text-[50%] md:text-[60%];
  }
}

.h3 {
  @apply border-l-2 pl-2 tracking-wider mb-4 font-bold;
}

main {
  @apply top-0 right-0 bottom-0 left-0 absolute;
}

/* iOS Safariでフォームに角丸が付く問題の対処 */
input[type='button'],
input[type='text'],
input[type='email'],
input[type='submit'],
input[type='image'],
textarea {
  @apply rounded-none appearance-none;
}

/* Object */
#forIE {
  z-index: 9999;
  @apply fixed top-0 bottom-0 left-0 right-0 p-10 text-center flex-col justify-center;

  /* IEがCSSカスタムプロパティを読んでくれないので直接指定 */
  background-color: #000;

  & .btn {
    @apply w-auto px-4 no-underline;
  }

  & a {
    @apply underline;
  }
}

#forIE,
#lowerWin10,
#forWin10 {
  @apply hidden;
}

.side {
  @apply fixed flex flex-col content-around min-h-screen text-center z-10 md:z-auto w-full md:top-auto -top-[100vh];

  min-height: -webkit-fill-available;
  padding: 0 1rem 5rem;
  backdrop-filter: blur(3px);
  background-color: rgb(255 255 255 / 5%);
  transition: all 0.5s;

  @screen md {
    width: var(--side-menu-width-md);
  }

  &-menu {
    @apply flex flex-grow items-center justify-center;

    &-active {
      @apply font-bold text-2xl;
    }

    li {
      @apply mt-4;
    }
  }

  &-sns {
    ul {
      @apply flex md:list-item justify-center;
    }

    li {
      @apply text-2xl;

      &:not(:first-child) {
        @apply ml-8 md:ml-0 md:mt-2;
      }

      & .icon-discord {
        @apply text-xl;
      }
    }
  }

  a {
    @apply no-underline;

    color: rgb(236 239 241 / 70%);
    transition: color ease 0.3s, font-size ease 0.1s;

    &:hover {
      color: var(--colors-light);
    }
  }
}

.scroll {
  @screen md {
    margin-left: var(--side-menu-width-md);
  }

  h2 {
    @apply relative bg-contain bg-no-repeat py-3 md:py-4 pl-4 md:pl-6 leading-normal -ml-4 md:ml-0;

    background-image: url('/images/star.svg');
  }

  a {
    &:not(.btn) {
      color: rgb(158 228 255 / 100%);
      transition: color ease 0.3s;

      &:hover,
      &:focus,
      &:active {
        @apply no-underline;

        color: rgb(158 228 255 / 50%);
      }
    }

    &[target='_blank']::after {
      @apply font-black align-middle text-[0.9em] content-['\f102'];

      margin: 0 3px;
      font-family: icons, sans-serif;

      &:not(.btn):hover,
      &:not(.btn):focus,
      &:not(.btn):active {
        color: rgb(158 228 255 / 50%);
      }
    }
  }

  /* purgecss start ignore */
  &-section {
    @apply flex flex-col items-center justify-center;

    &.hero {
      @apply min-h-screen;
    }

    &:not(:first-child) {
      @apply opacity-0 pt-4 mb-12 md:mb-16;

      transition: all 800ms;
      transform: translateY(50px);

      &.show {
        @apply opacity-100;

        transform: translateY(0);
      }
    }
    &-box {
      @apply w-full max-w-[80%];

      &-txt {
        @apply my-6 mx-0 md:mx-6;

        & section {
          @apply mt-8;
        }
      }
    }
  }
}

/* purgecss end ignore */
.form {
  &-group {
    @apply relative;

    z-index: 1;

    input {
      &[type='text'] {
        @apply pl-[4em];
      }

      &[type='email'] {
        @apply pl-[8.5em];
      }

      &[type='text'],
      &[type='email'] {
        @apply leading-6 text-[0.9375rem] tracking-[1px];
      }
    }
    textarea {
      @apply pt-6;
    }

    input[type='text'],
    input[type='email'],
    textarea {
      @apply w-full;

      transition: 0.4s;

      &:focus {
        @apply p-0;

        outline: none;
      }
    }

    &,
    ~ .btn {
      &:not(:first-child) {
        @apply mt-10;
      }
    }
  }

  &-control {
    @apply py-1 px-0 bg-transparent;

    color: var(--colors-light);
    border-bottom: 1px solid var(--colors-lightS);

    ~ .focus-line {
      @apply absolute bottom-0 left-0 w-0 h-0.5;

      background-color: var(--colors-light);
      transition: 0.4s;

      &.textarea {
        @apply bottom-[0.3125rem];
      }
    }
    ~ label {
      @apply w-full left-0 absolute top-1 tracking-[0.5px];

      z-index: -1;
      transition: 0.3s;
    }
  }

  &-control:focus ~ .focus-line,
  &-group.form-control ~ .focus-line {
    @apply w-full;

    transition: 0.4s;
  }

  &-control:focus ~ label,
  &-group.form-control ~ label {
    @apply text-xs -top-4;

    transition: 0.3s;
  }
}

/* purgecss start ignore */
.fadein {
  @apply !top-0;
}

#target {
  @apply top-4 right-4 fixed block cursor-pointer md:hidden w-10 h-[1.875rem];

  z-index: 100;
  transition: 1.5s;
}

.target_inner {
  @apply relative w-10 h-[1.875rem];

  &_line {
    @apply block absolute w-10 h-[0.3125rem] rounded-[3.125rem];

    background: var(--colors-lightS);
    transition: 1.5s;
  }

  &_1 {
    @apply top-0;
  }

  &_2 {
    @apply top-[0.8125rem];
  }

  &_3 {
    @apply top-[1.625rem];
  }
}

.linea {
  top: 13px;
  transform: rotate(225deg);
}

.lineb {
  @apply opacity-0;
}

.linec {
  top: 13px;
  transform: rotate(-225deg);
}

.rss {
  &-list {
    @apply m-0 py-2.5 px-0;

    &:not(:last-child) {
      border-bottom: 1px dashed #ccc;
    }
  }

  &-date {
    @apply text-[80%];
  }
}

/* purgecss end ignore */

/* Utility */
.btn {
  @apply relative inline-block font-bold text-center no-underline shadow-none uppercase cursor-pointer bg-transparent w-[12.5rem] leading-[2.8125rem];

  color: var(--colors-light);
  border: 1px solid transparent;
  outline: 1px solid;
  outline-color: var(--colors-lightS);
  outline-offset: 0;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    @apply no-underline;
  }

  &:hover {
    color: inherit;
    text-shadow: 2px 2px 3px #000;
    border-color: var(--colors-light);
    outline-color: transparent;
    outline-offset: 12px;
    box-shadow: inset 0 0 20px var(--colors-lightS),
      0 0 20px rgb(255 255 255 / 20%);
  }
}

.loader {
  @apply bg-black justify-center items-center flex top-0 right-0 bottom-0 left-0 fixed;

  z-index: 999;

  &::after {
    @apply w-[4.375rem] h-[4.375rem] content-[''];

    border: 1px solid var(--colors-light);
    border-top: 1px solid rgb(236 239 241 / 20%);
    border-right: 1px solid rgb(236 239 241 / 20%);
    border-radius: 50%;
    animation: loader 0.5s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.list-default {
  @apply mb-4 mt-2;

  padding-inline-start: 2em;

  & .list-default {
    @apply mb-1 mt-0;
  }

  ul& li {
    @apply relative;

    &::before {
      @apply text-xs absolute top-[0.27rem] -left-[1.75em] content-['\f108'];

      font-family: icons, sans-serif;
    }
  }

  ol& {
    @apply list-decimal;

    & li {
      &:not(:first-child) {
        @apply mt-2;
      }

      & .list-default {
        @apply mt-2;
      }
    }
  }
}

.neon {
  text-shadow: 0 0 7px var(--neon-light), 0 0 10px var(--neon-light),
    0 0 21px var(--neon-light), 0 0 42px var(--neon-dark),
    0 0 82px var(--neon-dark), 0 0 92px var(--neon-dark),
    0 0 102px var(--neon-dark), 0 0 151px var(--neon-dark);
  animation: pulsate 0.11s ease-in-out infinite alternate;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px var(--neon-light), 0 0 11px var(--neon-light),
      0 0 19px var(--neon-light), 0 0 40px var(--neon-dark),
      0 0 80px var(--neon-dark), 0 0 90px var(--neon-dark),
      0 0 100px var(--neon-dark), 0 0 150px var(--neon-dark);
  }

  0% {
    text-shadow: 0 0 4px var(--neon-light), 0 0 10px var(--neon-light),
      0 0 18px var(--neon-light), 0 0 38px var(--neon-dark),
      0 0 73px var(--neon-dark), 0 0 80px var(--neon-dark),
      0 0 94px var(--neon-dark), 0 0 140px var(--neon-dark);
  }
}
